header {
  background-color: #21222a;
  height: 91px;
}

.logo h1 {
  color: #61dafb;
  font-size: 25.25px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -1.113px;
  padding-top: 10px;
}

.info-header h1 {
  color: #deebf8;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  padding-top: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}