header {
  background-color: #21222a;
  height: 91px;
  position: fixed;
  width: 100%;
}

.logo h1 {
  color: #61dafb;
  font-size: 25.25px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -1.113px;
  padding-top: 10px;
}

.info-header h1 {
  color: #deebf8;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  padding-top: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

@media (min-width: 320px) and (max-width: 321px) {
  /* remove the info header */
  .info-header {
    display: none;
  }

  .logo{
    padding-left: 2.7em;

  }
}

@media  (min-width: 375px) and (max-width: 376px) {
  .info-header {
    display: none;
  }

  .logo{
    padding-right: 1em;
    padding-left: 4.65em;
  }
}

@media (min-width: 400px) and (max-width: 401px) {
  /* remove the info header */
  .info-header {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.7em;
    gap:0.4em;
  }
}

@media (min-width: 425px) and (max-width: 426px) {
  /* remove the info header */
  .info-header {
    display: none;
  }

  .logo{
    padding-left: 6.3em;
  }

}

@media (min-width:100px) and (max-width: 149px){
  .info-header {
    display: none;
  }

  .logo{
    padding-left: 2.5em;
  }
}