main {
  background: #282d35;
  padding-bottom: 13.9em;
}

 .main-header{
  color: #fff;
  font-weight: 700;
  line-height: normal;
  font-size: 39px;
  letter-spacing: -1.953px;
  padding-top: 1.8em;
  margin-left: 0.8em;
  padding-bottom: 0.1em;
}
