main {
  background: #282d35;
  padding-bottom: 13.9em;
}

 .main-header{
  color: #fff;
  font-weight: 700;
  line-height: normal;
  font-size: 1.8em;
  letter-spacing: -1.953px;
  padding-top: 4.5em;
  margin-left: 0.8em;
  padding-bottom: .1em;
}


li{
  margin-top: 0.1em;
  font-size: .9em;
  margin: 0.5em;
  margin-left: -0.5em;
}

li span{
  display: inline-table;
  vertical-align: baseline;
}


@media (min-width:320px) and (max-width:321px) {
    
  .main-header {
    font-size: 1.3em;
    margin-top: 1.7em;
  }

  li {
    font-size: .6em;
    margin: 0.1em;
    margin-left: -2.1em;
  }

  li span{
  display: inline-table;
  vertical-align: text-bottom;
}

}


@media(min-width:2560px) and (max-width:2561px) {
    
  .main-header {
    font-size: 1.8em;
    margin-top: -.6em;
  }

  li {
    font-size: .9em;
    margin: .5em;
  }

  li span{
  display: inline-table;
  vertical-align: baseline;
}

}

@media (min-width:375px) and (max-width:376px) {
    
  .main-header {
    font-size: 1.4em;
    margin-top: 0.1em;
  }

  li {
    font-size: .7em;
    font-weight: 300;
    margin-left: -1.1em;
  }

li span{
  display: inline-table;
  vertical-align: baseline;
}

}

@media (min-width:320px) and (max-width:321px) {
    
  .main-header {
    font-size: 1.3em;
    margin-top: 1.7em;
  }

  li {
    font-size: .65em;
    margin-left: -2em;
  }


li span{
  display: inline-table;
  vertical-align: text-bottom;
}

}

@media (min-width:425px) and (max-width:426px) {
    
   .main-header {
    font-size: 1.5em;
    margin-top: 0.1em;
  }

  li {
    font-size: .8em;
    font-weight: 300;
    margin-left: -1.1em;
  }

  li span{
  display: inline-table;
  vertical-align: baseline;
}
}

@media (min-width:768px) and (max-width:769px) {
    
  .main-header {
    font-size: 1.4em;
    margin-top: .4em;
  }

  li {
    font-size: .7em;
  }

ul li {
    margin-left: -1.5em;
    margin-top: 1em;
    line-height: 2.5em;
}

li span{
  display: inline-table;
  vertical-align: baseline;
}
}

@media (min-width:1024px) and (max-width:1025px) {
    
  .main-header {
    font-size: 1.3em;
    padding-top: 5.5em;
  }

  li {
    font-size: .7em;
    margin: 1.1em;
    margin-top: .1em;
    margin-left: -2em;
  }

  li span{
  display: inline-table;
  vertical-align: baseline;
}
}

@media (min-width:320px) and (max-width:321px) {

  .main-header {
    font-size: 1.3em;
    margin-top: 0.7em;
  }

  li {
    font-size: .65em;
    font-weight: 300;
    margin-left: -2.1em;
  }

li span{
  display: inline-table;
  vertical-align: baseline;
}
  
}